body{
    box-sizing: border-box;
    background-color: aqua;
    margin-top: 56px;
}

.navbarMididle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.heading{
    font-size: 50px !important;
}

.card{
    padding-top: 100px !important;
    min-height: 400px;
    max-height: 400px;
}
