body{
    box-sizing: border-box;
    background-color: aqua;
    margin-top: 56px;
}

.navbarMididle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.heading{
    font-size: 50px !important;
}

.card-body-card{
    max-height: 380px;
    min-height: 380px;
}

.cardbody{
    padding-top: 100px !important;
    min-height: 400px;
    max-height: 400px;
}

.cardBody{
    padding-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    min-height: 400px;
    max-height: 400px;
    max-width: 320px;
    min-width: 320px;
    font-size: 30px;
    overflow: auto;
    margin-right: 25px;
    position: relative;
}

.spanNamber{
  position: absolute;
  top:0px;
  border: 2px solid darkblue;
  background-color: yellow;
  border-radius: 50%;
  padding: 10px 15px;
}


.bodyCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.textSpan {
    font-size: 50px !important;
}